tools(json)/instagram_post_tool.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudconvert.com/v2/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiNTgzZDlhMGVmZTI1MGVmODRkOGIzMTk4ODIwNDNhZGI4ZDdjMzU3MmFhMWRjYTg2Y2NjNDUxZDE1Njc4NGRiODNiZjA3MjliMjEzOWE4NWYiLCJpYXQiOjE3NjUzOTUyMzcuOTk4NTg3LCJuYmYiOjE3NjUzOTUyMzcuOTk4NTg4LCJleHAiOjQ5MjEwNjg4MzcuOTkyMDI3LCJzdWIiOiI3MjgxMDAzMiIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwid2ViaG9vay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.U4Mx262_CV_Ee6XxubcsElqAWMnZKH9lrr3cvC-aC_Ty-1E45ZdauTEVjoBAeTYe8WncRumMK1vIpFBIKJPJ1gwMIbBm4HGLeL1QlUIW1x6EfKwAOu3KWUk46jzZ8S70W_5yLj1TTNOLUsX_WCGiIpTLMkgt_wgDqALsGFlp_tKkNZezPff37xrYBJ7ZHu0CYu3nAJLnVRowGeVC0mPVKrx2LtSuWXdF_EPA4PMve2Ryo1k0cE3wLDA6j2sX4HheQUT7ZCty0gs1jsmYAByY-eDU9Lcv6pHGXzr9n3Aqjkj0kVq7xRdxU2g3JU_wlC2Ie945UjX_dhn5AMI0RfNRP0qZdx18Ey1bpbg4FGvQhdqxoZPEz9s7KODb6Swghw67aMd33uvMr7tp_roxZq82fV1I7KP3D9tS24_kNDy1G3vsKWlWDc81RK4EZyj1sIin3lFWyUNASiQR94r2n1iBQ_yYtLoqyy1tFvATcwMjAiPwUmqToEeqoqvvPBkjZWaJlh-D_COkvXWfbkBmNeWoiMNa4qzgrqzv31um_IvmVmZlyr2jkWE9tpFgIGDsMHzA0ZxmDBx3y5A-ywhr2IOD-TsJFBNHdj_z3BZzehizxYB1iXPMY3iVEexkOYUzlbEhE9hLFlWEkpo9A-jZt_GEt79v1BRR8YWBTzKPeQ1Lwvs"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"tasks\": {\n    \"import-1\": { \"operation\": \"import/upload\" },\n    \"convert-1\": {\n      \"operation\": \"convert\",\n      \"input\": [\"import-1\"],\n      \"input_format\": \"png\",\n      \"output_format\": \"jpg\"\n    },\n    \"export-1\": { \"operation\": \"export/url\", \"input\": [\"convert-1\"] }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4032,
        704
      ],
      "id": "edcb0a35-7d10-4f00-a2e4-efe3fd90e604",
      "name": "create job"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.data.tasks[0].result.form.url }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=acl",
              "value": "={{ $json.data.tasks[0].result.form.parameters.acl }}"
            },
            {
              "name": "key",
              "value": "={{ $json.data.tasks[0].result.form.parameters.key }}"
            },
            {
              "name": "success_action_status",
              "value": "={{ $json.data.tasks[0].result.form.parameters.success_action_status }}"
            },
            {
              "name": "X-Amz-Credential",
              "value": "={{ $json.data.tasks[0].result.form.parameters[\"X-Amz-Credential\"] }}"
            },
            {
              "name": "X-Amz-Algorithm",
              "value": "={{ $json.data.tasks[0].result.form.parameters[\"X-Amz-Algorithm\"] }}"
            },
            {
              "name": "X-Amz-Date",
              "value": "={{ $json.data.tasks[0].result.form.parameters[\"X-Amz-Date\"] }}"
            },
            {
              "name": "Policy",
              "value": "={{ $json.data.tasks[0].result.form.parameters.Policy }}"
            },
            {
              "name": "X-Amz-Signature",
              "value": "={{ $json.data.tasks[0].result.form.parameters[\"X-Amz-Signature\"] }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3872,
        768
      ],
      "id": "38eebf81-6d8e-46bc-bd3e-6b4d06f8b695",
      "name": "Upload"
    },
    {
      "parameters": {
        "url": "=https://api.cloudconvert.com/v2/jobs/{{ $('create job').item.json.data.tasks[0].job_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiNTgzZDlhMGVmZTI1MGVmODRkOGIzMTk4ODIwNDNhZGI4ZDdjMzU3MmFhMWRjYTg2Y2NjNDUxZDE1Njc4NGRiODNiZjA3MjliMjEzOWE4NWYiLCJpYXQiOjE3NjUzOTUyMzcuOTk4NTg3LCJuYmYiOjE3NjUzOTUyMzcuOTk4NTg4LCJleHAiOjQ5MjEwNjg4MzcuOTkyMDI3LCJzdWIiOiI3MjgxMDAzMiIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwid2ViaG9vay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.U4Mx262_CV_Ee6XxubcsElqAWMnZKH9lrr3cvC-aC_Ty-1E45ZdauTEVjoBAeTYe8WncRumMK1vIpFBIKJPJ1gwMIbBm4HGLeL1QlUIW1x6EfKwAOu3KWUk46jzZ8S70W_5yLj1TTNOLUsX_WCGiIpTLMkgt_wgDqALsGFlp_tKkNZezPff37xrYBJ7ZHu0CYu3nAJLnVRowGeVC0mPVKrx2LtSuWXdF_EPA4PMve2Ryo1k0cE3wLDA6j2sX4HheQUT7ZCty0gs1jsmYAByY-eDU9Lcv6pHGXzr9n3Aqjkj0kVq7xRdxU2g3JU_wlC2Ie945UjX_dhn5AMI0RfNRP0qZdx18Ey1bpbg4FGvQhdqxoZPEz9s7KODb6Swghw67aMd33uvMr7tp_roxZq82fV1I7KP3D9tS24_kNDy1G3vsKWlWDc81RK4EZyj1sIin3lFWyUNASiQR94r2n1iBQ_yYtLoqyy1tFvATcwMjAiPwUmqToEeqoqvvPBkjZWaJlh-D_COkvXWfbkBmNeWoiMNa4qzgrqzv31um_IvmVmZlyr2jkWE9tpFgIGDsMHzA0ZxmDBx3y5A-ywhr2IOD-TsJFBNHdj_z3BZzehizxYB1iXPMY3iVEexkOYUzlbEhE9hLFlWEkpo9A-jZt_GEt79v1BRR8YWBTzKPeQ1Lwvs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3440,
        768
      ],
      "id": "38d2d064-83c2-4342-81b5-ea1404ee1ef0",
      "name": "Get Job"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3648,
        768
      ],
      "id": "ee03e7bf-3a91-4e4c-8f98-61240e60fbd8",
      "name": "Wait",
      "webhookId": "53209abd-7311-4df2-8da0-51da478fdd72"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const tasks = $json.data?.tasks || [];\nconst exp = tasks.find(t => t.operation === 'export/url');\n\nif (!exp || !exp.result?.files?.length) {\n  // export/url henüz oluşmadıysa tek obje döndür\n  return { json: { wait: true } };\n}\n\n// Tek bir dosya seç (ilk dosya)\nconst f = exp.result.files[0];\nreturn {\n  json: {\n    jpg_url: f.url,\n    filename: f.filename || 'image.jpg'\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3216,
        784
      ],
      "id": "58c3517a-0704-43f6-986d-37fc4f631dff",
      "name": "Code3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2784,
        848
      ],
      "id": "e9fca951-803d-468a-9007-0187136b1c5a",
      "name": "Wait1",
      "webhookId": "d16cc693-2d77-4e04-8bf1-ca54be464cc9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/17841477372978591/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAFluIpUKosMBPvADLJq1P10wgiZAeR5gS8oLhE8c1pFIO26R2Ek2UiyexN3SVxWOJdMKEmnKO7ZC7UziCjZCj0CB5IqtAbysRoTcTxF2nxWztoZAIGjQxYJQ3TbZBm7Ugi8XMG59rUJaUtZBk6jXzudhkDaZCbgTAZADVfuCmhlTES2POZBQZChnDbQHDZBc5hj97hI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"creation_id\": \"{{ $json.id }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2576,
        944
      ],
      "id": "e8e0ea80-9db1-4519-92e2-05fa8c602c92",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/instagram/post",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4656,
        528
      ],
      "id": "2ce25de7-83c3-47e9-8106-2a9ca514b676",
      "name": "Webhook9",
      "webhookId": "966c37fa-e68b-44f7-81b7-1ce7d755b8b6"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Webhook9').item.json.body.fileId }}",
          "mode": "id"
        },
        "options": {
          "fileName": "file.png"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4320,
        528
      ],
      "id": "ddab9c07-f0f7-4a5b-853e-bf03fc7b1880",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JuNECCrY1T5KxOFM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n   \"creationId\": {{ $json.id }},\n    \"success\":\"true\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2336,
        912
      ],
      "id": "934100a6-4b58-41f5-815e-352d0570ca3b",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.body.fileId }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4480,
        528
      ],
      "id": "2a89ef00-a22d-457c-ab41-aa6f21880f00",
      "name": "Share file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JuNECCrY1T5KxOFM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/17841477372978591/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAFluIpUKosMBPvADLJq1P10wgiZAeR5gS8oLhE8c1pFIO26R2Ek2UiyexN3SVxWOJdMKEmnKO7ZC7UziCjZCj0CB5IqtAbysRoTcTxF2nxWztoZAIGjQxYJQ3TbZBm7Ugi8XMG59rUJaUtZBk6jXzudhkDaZCbgTAZADVfuCmhlTES2POZBQZChnDbQHDZBc5hj97hI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.jpg_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Webhook9').item.json.body.caption }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3008,
        800
      ],
      "id": "3250be68-a071-456d-8a0b-cac31104308e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook9').item.json.body.type }}",
                    "rightValue": "=video",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "750918a5-0928-4e4a-be2c-0fea68b6f0c9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "41e13a20-d6a4-4e59-9302-fb0c7723350e",
                    "leftValue": "={{ $('Webhook9').item.json.body.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4176,
        528
      ],
      "id": "a0ec3990-25ab-4be7-bc3e-f00e3999c4fd",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/17841477372978591/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAFluIpUKosMBPvADLJq1P10wgiZAeR5gS8oLhE8c1pFIO26R2Ek2UiyexN3SVxWOJdMKEmnKO7ZC7UziCjZCj0CB5IqtAbysRoTcTxF2nxWztoZAIGjQxYJQ3TbZBm7Ugi8XMG59rUJaUtZBk6jXzudhkDaZCbgTAZADVfuCmhlTES2POZBQZChnDbQHDZBc5hj97hI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{ $json.data.tasks[0].result.files[0].url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Webhook9').item.json.body.caption }}"
            },
            {
              "name": "media_type",
              "value": "=REELS"
            },
            {
              "name": "access_token",
              "value": "EAFluIpUKosMBPvADLJq1P10wgiZAeR5gS8oLhE8c1pFIO26R2Ek2UiyexN3SVxWOJdMKEmnKO7ZC7UziCjZCj0CB5IqtAbysRoTcTxF2nxWztoZAIGjQxYJQ3TbZBm7Ugi8XMG59rUJaUtZBk6jXzudhkDaZCbgTAZADVfuCmhlTES2POZBQZChnDbQHDZBc5hj97hI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2656,
        400
      ],
      "id": "703a70d6-6c9a-4852-8d11-0edeab035950",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2512,
        400
      ],
      "id": "ae076fe4-7227-4670-b834-cf208123dd4f",
      "name": "Wait2",
      "webhookId": "d16cc693-2d77-4e04-8bf1-ca54be464cc9"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $(\"Webhook9\").all();\nconst fileId = webhookData[0]?.json?.body?.fileId;\nconst url = `https://drive.google.com/uc?id=${fileId}&export=download`;\n\nreturn [{ json: { url } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3968,
        432
      ],
      "id": "64069412-594e-42d2-8f86-9a0c4dbe76be",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $json.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "status_code,status"
            },
            {
              "name": "access_token",
              "value": "EAFluIpUKosMBPvADLJq1P10wgiZAeR5gS8oLhE8c1pFIO26R2Ek2UiyexN3SVxWOJdMKEmnKO7ZC7UziCjZCj0CB5IqtAbysRoTcTxF2nxWztoZAIGjQxYJQ3TbZBm7Ugi8XMG59rUJaUtZBk6jXzudhkDaZCbgTAZADVfuCmhlTES2POZBQZChnDbQHDZBc5hj97hI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2352,
        384
      ],
      "id": "6481df92-79d9-4e40-b836-37c47407bfe6",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2032,
        496
      ],
      "id": "814b7cec-bab3-47ac-85ab-08b2decfd1fc",
      "name": "Wait3",
      "webhookId": "0a3f7e17-db5d-4b4d-bc46-7b29cbe4bc36"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v23.0/17841477372978591/media_publish",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAFluIpUKosMBPvADLJq1P10wgiZAeR5gS8oLhE8c1pFIO26R2Ek2UiyexN3SVxWOJdMKEmnKO7ZC7UziCjZCj0CB5IqtAbysRoTcTxF2nxWztoZAIGjQxYJQ3TbZBm7Ugi8XMG59rUJaUtZBk6jXzudhkDaZCbgTAZADVfuCmhlTES2POZBQZChnDbQHDZBc5hj97hI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "EAFluIpUKosMBPvADLJq1P10wgiZAeR5gS8oLhE8c1pFIO26R2Ek2UiyexN3SVxWOJdMKEmnKO7ZC7UziCjZCj0CB5IqtAbysRoTcTxF2nxWztoZAIGjQxYJQ3TbZBm7Ugi8XMG59rUJaUtZBk6jXzudhkDaZCbgTAZADVfuCmhlTES2POZBQZChnDbQHDZBc5hj97hI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2032,
        368
      ],
      "id": "ee875796-08a5-49a9-8236-74456fed3d02",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1904,
        368
      ],
      "id": "682edffa-7def-497f-9719-e68ac6a6ac0f",
      "name": "Respond to Webhook10"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status_code }}",
                    "rightValue": "ERROR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5dfb4f78-7787-4ca6-8823-351e37bc3631"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "796fcf27-7c64-4d60-aeac-b270ed6a5f9a",
                    "leftValue": "={{ $json.status_code }}",
                    "rightValue": "FINISHED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "47094b60-aedc-4015-9978-2ad79717ada5",
                    "leftValue": "={{ $json.status_code }}",
                    "rightValue": "IN_PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2208,
        352
      ],
      "id": "6fd08785-6c2a-4416-879e-8a00755f4add",
      "name": "Switch1"
    },
    {
      "parameters": {
        "errorMessage": "HATA"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2032,
        240
      ],
      "id": "c3d983b0-7259-40fa-84cf-39ddceb2be2c",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudconvert.com/v2/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiNTgzZDlhMGVmZTI1MGVmODRkOGIzMTk4ODIwNDNhZGI4ZDdjMzU3MmFhMWRjYTg2Y2NjNDUxZDE1Njc4NGRiODNiZjA3MjliMjEzOWE4NWYiLCJpYXQiOjE3NjUzOTUyMzcuOTk4NTg3LCJuYmYiOjE3NjUzOTUyMzcuOTk4NTg4LCJleHAiOjQ5MjEwNjg4MzcuOTkyMDI3LCJzdWIiOiI3MjgxMDAzMiIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwid2ViaG9vay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.U4Mx262_CV_Ee6XxubcsElqAWMnZKH9lrr3cvC-aC_Ty-1E45ZdauTEVjoBAeTYe8WncRumMK1vIpFBIKJPJ1gwMIbBm4HGLeL1QlUIW1x6EfKwAOu3KWUk46jzZ8S70W_5yLj1TTNOLUsX_WCGiIpTLMkgt_wgDqALsGFlp_tKkNZezPff37xrYBJ7ZHu0CYu3nAJLnVRowGeVC0mPVKrx2LtSuWXdF_EPA4PMve2Ryo1k0cE3wLDA6j2sX4HheQUT7ZCty0gs1jsmYAByY-eDU9Lcv6pHGXzr9n3Aqjkj0kVq7xRdxU2g3JU_wlC2Ie945UjX_dhn5AMI0RfNRP0qZdx18Ey1bpbg4FGvQhdqxoZPEz9s7KODb6Swghw67aMd33uvMr7tp_roxZq82fV1I7KP3D9tS24_kNDy1G3vsKWlWDc81RK4EZyj1sIin3lFWyUNASiQR94r2n1iBQ_yYtLoqyy1tFvATcwMjAiPwUmqToEeqoqvvPBkjZWaJlh-D_COkvXWfbkBmNeWoiMNa4qzgrqzv31um_IvmVmZlyr2jkWE9tpFgIGDsMHzA0ZxmDBx3y5A-ywhr2IOD-TsJFBNHdj_z3BZzehizxYB1iXPMY3iVEexkOYUzlbEhE9hLFlWEkpo9A-jZt_GEt79v1BRR8YWBTzKPeQ1Lwvs"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tasks\": {\n    \"import-my-file\": {\n      \"operation\": \"import/url\",\n      \"url\": \"{{$json.url}}\"\n    },\n    \"fix-for-instagram\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-my-file\",\n      \"output_format\": \"mp4\",\n      \"video_codec\": \"x264\",\n      \"audio_codec\": \"aac\",\n      \"preset\": \"fast\",\n      \"faststart\": true,\n      \"engine\": \"ffmpeg\"\n    },\n    \"export-my-file\": {\n      \"operation\": \"export/url\",\n      \"input\": \"fix-for-instagram\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3776,
        432
      ],
      "id": "4522dc69-34d5-4641-b66c-b905218eabb8",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "waiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d62d07af-3049-4cdf-8228-4ba0630ca9f8"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ebafe72d-1fea-4835-9bdc-90027bf86e35",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "finished",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0a7c4a38-4cb9-43bd-be12-81ed3e79b0d8",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -2960,
        368
      ],
      "id": "9ba120c5-f3cf-4ed9-b13b-ea9aa2911c0b",
      "name": "Switch2"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2656,
        528
      ],
      "id": "b26a9bd8-6300-42b3-a1d9-56befad7dd43",
      "name": "Wait4",
      "webhookId": "773b9470-3a61-4c77-ba66-05212b41b84c"
    },
    {
      "parameters": {
        "errorMessage": "hata"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2656,
        256
      ],
      "id": "9a3954c6-d740-45f2-9087-13864af80298",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "amount": 45
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3600,
        432
      ],
      "id": "10eb66a6-c0d5-4c8a-ae3d-767e561184b9",
      "name": "Wait5",
      "webhookId": "22b18413-097c-47e7-b4b9-61e76042e671"
    },
    {
      "parameters": {
        "url": "=https://api.cloudconvert.com/v2/jobs/{{ $('HTTP Request5').item.json.data.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiNTgzZDlhMGVmZTI1MGVmODRkOGIzMTk4ODIwNDNhZGI4ZDdjMzU3MmFhMWRjYTg2Y2NjNDUxZDE1Njc4NGRiODNiZjA3MjliMjEzOWE4NWYiLCJpYXQiOjE3NjUzOTUyMzcuOTk4NTg3LCJuYmYiOjE3NjUzOTUyMzcuOTk4NTg4LCJleHAiOjQ5MjEwNjg4MzcuOTkyMDI3LCJzdWIiOiI3MjgxMDAzMiIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwid2ViaG9vay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.U4Mx262_CV_Ee6XxubcsElqAWMnZKH9lrr3cvC-aC_Ty-1E45ZdauTEVjoBAeTYe8WncRumMK1vIpFBIKJPJ1gwMIbBm4HGLeL1QlUIW1x6EfKwAOu3KWUk46jzZ8S70W_5yLj1TTNOLUsX_WCGiIpTLMkgt_wgDqALsGFlp_tKkNZezPff37xrYBJ7ZHu0CYu3nAJLnVRowGeVC0mPVKrx2LtSuWXdF_EPA4PMve2Ryo1k0cE3wLDA6j2sX4HheQUT7ZCty0gs1jsmYAByY-eDU9Lcv6pHGXzr9n3Aqjkj0kVq7xRdxU2g3JU_wlC2Ie945UjX_dhn5AMI0RfNRP0qZdx18Ey1bpbg4FGvQhdqxoZPEz9s7KODb6Swghw67aMd33uvMr7tp_roxZq82fV1I7KP3D9tS24_kNDy1G3vsKWlWDc81RK4EZyj1sIin3lFWyUNASiQR94r2n1iBQ_yYtLoqyy1tFvATcwMjAiPwUmqToEeqoqvvPBkjZWaJlh-D_COkvXWfbkBmNeWoiMNa4qzgrqzv31um_IvmVmZlyr2jkWE9tpFgIGDsMHzA0ZxmDBx3y5A-ywhr2IOD-TsJFBNHdj_z3BZzehizxYB1iXPMY3iVEexkOYUzlbEhE9hLFlWEkpo9A-jZt_GEt79v1BRR8YWBTzKPeQ1Lwvs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3392,
        416
      ],
      "id": "dad50a80-a464-4beb-9fb4-88aa27b894df",
      "name": "HTTP Request7"
    }
  ],
  "connections": {
    "create job": {
      "main": [
        [
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook9": {
      "main": [
        [
          {
            "node": "Share file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share file1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Respond to Webhook10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a9b987bf92cbf1ff2d5364f1a70e4cf494ac368d5f139af422309aae1f0ccd5"
  }
}